<section class="panel-background single-feed-section">
    <div class="card card-background single-feed center-card">
        <header class="card-header">
            <p class="card-header-title tweet">
                <a href="/feed/{{currentFeed.id}}" >{{currentFeed.title}}</a>&nbsp;by&nbsp;<a href="/profile/{{currentFeed.user.id}}">{{currentFeed.user.username}}</a>
            </p>
            {{#if loggedIn}}
                <button
                    class="card-header-icon follow-feed-button"
                    aria-label="more options"
                    data-feed-id="{{currentFeed.id}}"
                    data-logged-in-user-id="{{loggedInUserData.id}}"
                    data-user-created-id="{{currentFeed.user_id}}" title="Click to follow this feed source"
                >
                    <span class="icon">
                        <i
                            class="fa fa-plus-circle plus-icon"
                            aria-hidden="true"
                        ></i>
                    </span>
                </button>
            {{/if}}
        </header>
        <div class="card-content">
            {{#each currentFeed.tweetFeed}}
                <div class="tw-block-parent tw-background">
                    <div class="timeline-TweetList-tweet">
                        <div class="timeline-Tweet" style="margin">
                            <div class="timeline-Tweet-brand">
                                <div class="Icon Icon--twitter"></div>
                            </div>
                            <div class="timeline-Tweet-author">
                                <a class="TweetAuthor-link" href="https://twitter.com/{{this.user.screen_name}}" target="_blank">
                                <div class="TweetAuthor"><span class="TweetAuthor-avatar"> 
                                    <div class="Avatar"><img src="{{this.user.profile_image_url_https}}" alt="{{this.user.name}}" class="tw-profile-img"></div></span><span class="TweetAuthor-name feed-tweet-author">{{this.user.name}}</span><span class="Icon Icon--verified"></span><span class="TweetAuthor-screenName">{{at_sign_format_twitter this.user.screen_name}}</span></div>
                                </a>
                            </div>
                            <div class="timeline-Tweet-text">{{this.text}}</div>
                            <div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">{{format_time_twitter this.created_at}}</span></div>
                            <ul class="timeline-Tweet-actions">
                                <li class="timeline-Tweet-action"><a class="Icon Icon--heart" href="#"></a></li>
                                <li class="timeline-Tweet-action"><a class="Icon Icon--share" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="is-divider"></div>
    <div class="center-content" id="comment-section">
        {{#if loggedIn}}
            <div class="column is-half comment-entry">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal comment-div">
                            <label class="label">Comment:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea
                                        class="textarea comment-input"
                                        placeholder="What are your thoughts on this feed?"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button
                                        class="button is-success comment-submit" 
                                        id="postBtn"
                                        data-logged-in-user-id="{{loggedInUserData.id}}"
                                        data-current-feed-id="{{currentFeed.id}}"
                                    >
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        {{/if}}
        <div class="column is-centered is-vcentered is-half" id="comment-section">
            {{#each feedComments}}
                <article class="message comment-cards">
                    <div class="message-body">
                        {{this.comment}}
                        <p class="has-text-right"><strong>-
                            <a id="commenter-name"href="/profile/{{this.user.id}}">{{this.user.username}}</a>,
                            {{format_time_twitter this.createdAt}}</strong>
                    </div>
                </article>
            {{/each}}
        </div>
    </div>
</section>
<script src="../js/feed.js"></script>