{{! https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/admin.html#L54 }}
<div class="container panel-background">
    <div class="hero is-info welcome is-small profile-hero">
        <div class="hero-body has-text-centered">
            <div><img
                    src="../assets/default-profile.png"
                    alt="profile pic"
                /></div>
            <h1
                class="has-text-centered is-size-1"
            >{{UserAndFeedData.username}}</h1>
        </div>
    </div>
    <div class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">{{profileCreatedCount}}</p>
                    <p class="subtitle">Feeds Created</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">{{profileFollowersCount}}</p>
                    <p class="subtitle">Feeds Followers</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">{{profileFollowedCount}}</p>
                    <p class="subtitle">Feeds Followed</p>
                </article>
            </div>
        </div>
    </div>
</div>
<div class="masonry-container panel-background">
    <div class="grid-container">
        {{#each profileFollowedFeeds}}
            <div class="feed-container">
                <div class="card card-background">
                    <header class="card-header">
                        <p class="card-header-title">
                            <a href="/feed/{{this.feed.id}}" >{{this.feed.title}}</a>&nbsp;by&nbsp;<a href="/profile/{{this.feed.user.id}}">{{this.feed.user.username}}</a>
                        </p>
                        {{#if ../loggedIn}}
                            <button
                                class="card-header-icon follow-feed-button"
                                aria-label="more options"
                                data-feed-id="{{this.feed.id}}"
                                data-logged-in-user-id="{{../loggedInUserData.id}}"
                                data-user-created-id="{{this.feed.user_id}}" title="Click to follow this feed source"
                            >
                                <span class="icon">
                                    <i
                                        class="fa fa-plus-circle plus-icon"
                                        aria-hidden="true"
                                    ></i>
                                </span>
                            </button>
                        {{/if}}
                    </header>
                    <div class="card-content">
                        {{#each this.feed.tweetFeed}}
                            <div class="tw-block-parent tw-background">
                                <div class="timeline-TweetList-tweet">
                                    <div class="timeline-Tweet" style="margin">
                                        <div class="timeline-Tweet-brand">
                                            <div class="Icon Icon--twitter"></div>
                                        </div>
                                        <div class="timeline-Tweet-author">
                                            <a class="TweetAuthor-link" href="https://twitter.com/{{this.user.screen_name}}" target="_blank">
                                            <div class="TweetAuthor"><span class="TweetAuthor-avatar"> 
                                                <div class="Avatar"><img src="{{this.user.profile_image_url_https}}" alt="{{this.user.name}}" class="tw-profile-img"></div></span><span class="TweetAuthor-name">{{this.user.name}}</span><span class="Icon Icon--verified"></span><span class="TweetAuthor-screenName">{{at_sign_format_twitter this.user.screen_name}}</span></div>
                                            </a>
                                        </div>
                                        <div class="timeline-Tweet-text">{{this.text}}</div>
                                        <div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">{{format_time_twitter this.created_at}}</span></div>
                                        <ul class="timeline-Tweet-actions">
                                            <li class="timeline-Tweet-action"><a class="Icon Icon--heart" href="#"></a></li>
                                            <li class="timeline-Tweet-action"><a class="Icon Icon--share" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
        {{#each UserAndFeedData.feeds}}
            <div class="feed-container">
                <div class="card card-background">
                    <header class="card-header">
                        <p class="card-header-title">
                            <a href="/feed/{{this.id}}" >{{this.title}}</a>&nbsp;by&nbsp;<a href="/profile/{{this.user.id}}">{{this.user.username}}</a>
                        </p>
                        {{#if ../loggedIn}}
                            <button
                                class="card-header-icon follow-feed-button"
                                aria-label="more options"
                                data-feed-id="{{this.feed.id}}"
                                data-logged-in-user-id="{{../loggedInUserData.id}}"
                                data-user-created-id="{{this.feed.user_id}}" title="Click to follow this feed source"
                            >
                                <span class="icon">
                                    <i
                                        class="fa fa-plus-circle plus-icon"
                                        aria-hidden="true"
                                    ></i>
                                </span>
                            </button>
                        {{/if}}
                    </header>
                    <div class="card-content">
                        {{#each this.tweetFeed}}
                            <div class="tw-block-parent tw-background">
                                <div class="timeline-TweetList-tweet">
                                    <div class="timeline-Tweet" style="margin">
                                        <div class="timeline-Tweet-brand">
                                            <div class="Icon Icon--twitter"></div>
                                        </div>
                                        <div class="timeline-Tweet-author">
                                            <a class="TweetAuthor-link" href="https://twitter.com/{{this.user.screen_name}}" target="_blank">
                                            <div class="TweetAuthor"><span class="TweetAuthor-avatar"> 
                                                <div class="Avatar"><img src="{{this.user.profile_image_url_https}}" alt="{{this.user.name}}" class="tw-profile-img"></div></span><span class="TweetAuthor-name">{{this.user.name}}</span><span class="Icon Icon--verified"></span><span class="TweetAuthor-screenName">{{at_sign_format_twitter this.user.screen_name}}</span></div>
                                            </a>
                                        </div>
                                        <div class="timeline-Tweet-text">{{this.text}}</div>
                                        <div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">{{format_time_twitter this.created_at}}</span></div>
                                        <ul class="timeline-Tweet-actions">
                                            <li class="timeline-Tweet-action"><a class="Icon Icon--heart" href="#"></a></li>
                                            <li class="timeline-Tweet-action"><a class="Icon Icon--share" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="feed-container">
            <div class="card card-background">
                <div class="card-content">
                    <button class="new-feed-button" title="Click to add a new feed source">+</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="logged-in-user-id is-invisible">{{loggedInUserData.id}}</div>
<div class="current-profile-id is-invisible">{{UserAndFeedData.id}}</div>
<script src="../js/profile.js"></script>